@import url('https://fonts.cdnfonts.com/css/montserrat');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
}

::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    overflow-y: hidden;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px;
    width: 2px;
    overflow-y: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(35, 115, 98);
    border-radius: 20px;
    width: 2px;
    overflow-y: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 149, 126);
    overflow-y: hidden;
}